.yui-b.sidebar
  -box do 
    %h3=:links.l
    %ul.checks
      %li=link_to :new_photo.l, new_user_photo_path(current_user)

#yui-main
  .yui-b
    %h3 Current Portfolio Items
    #photos.yui-u.box
      - @photos_no_albums.each do |photo|
        = link_to image_tag( photo.public_filename(:thumb), :class => "polaroid"), user_photo_path(current_user, photo)
      .pagination= paginating_links @photos_no_albums if @photos_no_albums.page_count > 1



