<!-- top navigation  // use class selected for highlighting a item -->  
	<li><%= link_to "Dashboard", user_path(current_user)+ "/dashboard"    %> </li> 
    <li><%= link_to :my_profile.l, user_path(current_user)    %> </li>    
    <li><%= link_to :edit_profile.l, edit_user_path(current_user) %></li>          
    <li><%=link_to "Craigslist Post", user_path(current_user) + "/embedding"  %></li>
    
