- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }

#yui-main
  .yui-b
    -box :class => "hfeed" do 
      %h3
        =:recent_posts.l
      = render :partial => 'posts/post', :collection => @posts
      %h6.all= link_to :see_all_recent_posts.l, recent_path
.yui-b  
  =render :partial => 'shared/explore'
