<div class="sidebar">
	<!-- brochure -->			
	<div class="btn-widget clearfix">
		<a href="#" title=""><img src="images/btn_brochure.png" alt="" /></a>
	</div>
	<!-- // brochure -->
</div>	
	
<div id="yui-main">	
	<h1>A webpage profile</h1>
	<h2>That brings customers</h2>
	
	<h3>What we do</h3>
	<p>Kervu seeks to simplify the process of a local servicer finding a customer online. We create a professional webpage for a service provider and a craigslist template that links back to the webpage.</p>	
		
	<div class="clearfix"></div>
	
	<!-- main-content-footer --> 
	<div class="main-content-footer">
	
		<div class='grid'>
		
			<!-- request a quote -->
			<div class="col-left">
				<div class="icon"><img src="images/icon_quote.gif" alt="Request a Quote" align="left" /></div>
				<div class="text">
					<a href="#">Request a Quote</a>
					<p>Praesent posuere mollis ante. Donec risus. Donec pharetra, ipsum non tincidunt volutpat, arcu quam sodales erat, et luctus tortor mauris vehicula.</p>						
				</div>
			</div>
			<!-- // request a quote -->
			
			<!-- contact us -->
			<div class="col-right">
				<div class="icon"><img src="images/icon_mail.gif" alt="Contact Us" align="left" /></div>
				<div class="text">
					<a href="#">Contact Us</a>
					<p>Praesent posuere mollis ante. Donec risus. Donec pharetra, ipsum non tincidunt volutpat, arcu quam sodales erat, et luctus tortor mauris vehicula.</p>						
				</div>						
			</div>
			<!-- // contact us -->

		</div>
	
	</div>
	<!-- // main-content-footer --> 
	
</div>