-unless AppConfig.closed_beta_mode
  .block.small.left
    .block_head
      %h2 Can't login?
    .block_content
      =render :partial => 'shared/login_sidebar'
      
      
.block.small.right
  .block_head
    %h2
      =:forgot_your_password.l
  .block_content  
    - form_tag forgot_password_url, :class => 'MainForm' do
      
      %p
        %label{"for"=>"email"}=:enter_your_email_address.l+":"
        = text_field_tag 'email', nil, :size => 35, :class=>"text small"
        
      %p
        = submit_tag :reset_my_password.l, :class=>"submit long"