<div class="block">
	
	<div class="block_head">
		<h2>Contact Us!</h2>
	</div>		
	
	<div class="block_content">
		<p>If you have any questions, please contact us at <a href="mailto:admin@kervu.com">admin@kervu.com</a></p>
	</div>
</div>