<!-- <div class="block">
			
				<div class="block_head">	
					<h2>Kervu is the customer generation system for local professionals!</h2>
					
				</div>	
				
				
				<div class="block_content tab_content">
					
					<h2><strong>Step 1 | Sign up for our website</strong></h2>
				
				</div>		
				
			</div>		-->


<p>
<img src="/secund/images/promo-kervu1.png" />
</p>
<div class="block small left"> 

	<div class="block_head"> 
		<h2>Sign up for a free website!</h2>	
	</div>		
	
	
	
	<div class="block_content"> 

		<h2>Who is Kervu for?</h2>
		<p>Kervu is used by local service professionals who want a professional website and the ability to track their craigslist traffic.</p>
		
		<h2>Join our beta</h2> 
		<p>Kervu is a website and lead tracking system for the local service provider. We are currently offering our services for free!</p> 
		
		<p><a href="/signup" class="submit mid">Sign Up!</a></p>
		
	</div>		
	
</div>		


<div class="block small right"> 

	<div class="block_head"> 
		<h2>See our examples sites</h2>	
	</div>		
	
	
	
	<div class="block_content"> 
		<p>
		<a href="/johnsmith" target="_blank"><img src="/secund/images/small_photo_profile.png" /></a>&nbsp;&nbsp;&nbsp;<a href="http://www.kervu.com/embedding" target="_blank"><img src="/secund/images/craigslist.png" /></a>
		</p>
		
		<p>
			Here is what a finished Kervu site looks like. On the right is a website created by Kervu, on the left is a craigslist post with Kervu's template.
		</p>
				<br />
	</div>		
	
</div>		
